/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap"); */

body {
  margin: 0;
  height: 100vh;
  background-color: #dedede !important;
  font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6082d1;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3f51b5;
}
#root {
  height: 100%;
}
.table_Pagination {
  max-width: 26rem !important;
  margin: auto !important;
}
.pagination {
  justify-content: space-evenly;
  align-items: center;
  margin-left: -30px;
}
.page-link {
  height: 45px !important;
}
.table > :not(:first-child) {
  border-top: none !important;
}
@media screen and (max-width: 350px) {
  .page-link {
    font-size: 12px !important;
  }
}
.bottom-0 {
  bottom: 0;
}
.btn:disabled {
  pointer-events: unset !important;
  cursor: not-allowed !important;
}
@media screen and (max-width: 500px) {
  .MuiInputBase-input {
    background-color: white !important;
    border-radius: 4px !important;
  }
}
.hide {
  margin-left: -300px !important;
  visibility: hidden !important;
}
.show {
  transition: 0.5s !important;
  margin-left: 0 !important;
  visibility: visible !important;
}
.css-1ukovu3-MuiSkeleton-root {
  width: 100% !important;
}
