.todo-main {
  height: auto;
  width: 100%;
  padding: 0 2rem;
}
.todo-main .heading {
  color: #000;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 6px;
  padding: 40px 0;
}
@media screen and (max-width: 390px) {
  .todo-main {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 350px) {
  .todo-main {
    padding: 0;
  }
}
